body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbox {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100vh;
    z-index: 100;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.toolboxElements {
    overflow: scroll;
    flex: 1;
    margin-bottom: 12px;
}

.toolboxAttributes {
  overflow: scroll;
  flex: 2;
}

.workspace {
    background-color: lightgrey;
    cursor: move;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.runspace {
    background-color: darkgrey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    white-space: nowrap;
}

.runarea {
  margin: auto;
  position: relative;
}

.runpage {
  border-radius: 8px;
  background: white;
}

.page {
    cursor: default;
}

.pageBackground {
    border-radius: 8px;
    background: grey;
}

.toggle-mode {
  position: absolute;
  top: 10px;
  right: 10px;
}

.page-select {
  position: absolute;
  top: 10px;
  right: 150px;
  max-width: 200px;
}

.save-load {
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
}

.file-button {
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
}
