body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbox {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100vh;
    overflow: scroll;
    z-index: 100;
    width: 200px;
}

.workspace {
    background-color: lightgrey;
    cursor: move;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.page {
    cursor: default;
}

.pageBackground {
    border-radius: 8px;
    background: grey;

}
